

<% # esto es un formulario%>
<%= form_with model: @producto do |form| %> 

<% # este bloque recorre @producto y muestra el mensaje de error %>
<% @producto.errors.full_messages.each do |error|%>
   <div>
        <%= error %> 
   </div>  
<% end %>

<div>
<%= form.label :Titulo %>
<%= form.text_field :titulo %>
</div>

<div>
<%= form.label :Descripcion %>
<%= form.text_area :descripcion %>
</div>

<div>
<%= form.label :Precio %>
<%= form.text_field :precio %>
</div>


<div>
  <%= form.label :Categoria %>
  <%= form.collection_select :categoria_id, Categoria.all.order(nombre: :asc) , :id, :nombre %>
</div>

<div>
    <%= form.label :imagen %>
    <%= form.file_field :imagen %>
  </div>

<%= form.submit "Guardar" %>
<% end %>