

<%= turbo_frame_tag 'categorias' do %>
<h2>Productos</h2> 

<%= form_with url: productos_path, method: :get do |form| %>
    <%= form.number_field :precio_min, placeholder: 'precio minimo',
    onchange: 'this.form.requestSubmit()', value: params[:precio_min] %>

    <%= form.number_field :precio_max, placeholder: 'precio maximo',
    onchange: 'this.form.requestSubmit()', value: params[:precio_max] %>
<% end %>

<%= link_to 'Todo', productos_path %> |
<%= render partial: 'categoria', collection: @categorias %>

<%= render partial: 'producto', collection: @productos  %> 
 
 <% end %>