

<%= turbo_frame_tag 'home' do %>
<h2>Productos</h2> 

<%= form_with url: productos_path, method: :get do |form| %>

    <%= form.text_field :query_text, placeholder: '¿que quieres buscar?',
    onChange: 'this.form.requestSubmit()',value: params[:query_text] %>

    <%= form.number_field :precio_min, placeholder: 'precio minimo',
    onChange: 'this.form.requestSubmit()', value: params[:precio_min] %>

    <%= form.number_field :precio_max, placeholder: 'precio maximo',
    onChange: 'this.form.requestSubmit()', value: params[:precio_max] %>

    <%= form.select :order_by, options_for_select([["Recientes","recientes"],
    ["Mas Caros", "caros"],["Mas Baratos","baratos"]], params[:order_by]), {},
    { onChange: 'this.form.requestSubmit()' } %>
  
<% end %>

<%= link_to 'Todo', productos_path %> |
<%= render partial: 'categoria', collection: @categorias %>

<%= turbo_frame_tag "productos-#{@pagy.page}", class: "productos" do %>  
  <%= render partial: 'producto', collection: @productos  %> 
  <%= turbo_frame_tag "productos-#{@pagy.next}", class: 'productos', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
  <% end %>

<% end %>

